.HeroCard {
  border: 1px solid #c7c4c4;
  padding: 15px;
  border-radius: 5px;
  background: #64566a;
  margin: 5px;
  text-align: center;
  line-height: 1.5em;
  animation: box-shadow 3s ease;
  cursor: pointer;
}

.HeroCard:hover {
  box-shadow: 10px 10px 5px #777777;
  background: #c4bdc7;
}

.hc-image {
  width: 100%;
}

.hc-name {
  font-weight: bold;
  font-size: 1.2em;
}
.hc-alterego {
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 2%;
}

.hc-occupation {
  font-size: 1em;
}
.hc-superpowers {
  font-size: 1em;
  padding-bottom: 2%;
}
.hc-description {
  font-size: 0.7em;
}
.hc-span {
  font-weight: bold;
}
